@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Prata&display=swap');

.contact-form-container {
    background-color: rgb(0, 0, 0);
    padding-bottom: 3rem;
    font-family: 'Prata', serif;
}

form .form-inst {
    align-items: center;
    justify-content: center;
    text-align: start;
    padding: 1rem 3rem;
}

.contact-form-wrapper {
    padding: 2rem 18rem;
}

.contact-form-wrapper form {
    padding: 1rem;
    background-color: white;
    color: black;
}

.field-label {
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    .contact-form-wrapper {
        padding: 3rem 2rem 1rem 2rem;
    }
}